.react-daypicker-root {
  padding: 5px;
  width: 185px;

  abbr {
    border-bottom: 0;
    text-decoration: none;
  }

  th,
  td {
    padding: 3px 2px;
    text-align: center;
    width: 20px;
    font-size: 14px;
  }

  .header {
    display: flex;
    flex-direction: row;
    background-color: $header-bg;
    min-height: auto;
    align-items: center;
  }

  .previous-month,
  .next-month {
    cursor: pointer;
    padding: 5px;
    user-select: none;
    width: 25px;
    color: #ffffff;

    &:hover {
      color: #7b7596;
    }
  }

  .next-month {
    text-align: right;
  }

  .month-year {
    flex: 2;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
  }

  .day {
    cursor: pointer;

    &:hover:not(.empty) {
      background-color: #eeeeee;
    }

    &.active {
      background-color: #dddddd;
    }

    &.empty {
      cursor: default;
    }

    &.today {
      font-weight: bold;
      color: #208e10;
      outline: 1px solid #208e10;
    }
  }
}
