$fa-font-path: "fonts";
@import 'FontAwesome/font-awesome';
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700|Roboto:300,400,700');
@import 'variables';
@import "datePicker";

* {
  &, &:after, &:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

html,
body,
#root {
  height: 100%;
}

body {
  line-height: 1;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 10px;
  width: 100%;
}

.header {
  min-height: 80px;
  background-color: $header-bg;
  padding: 10px 0;
  box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.38);
}

.header__cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.footer {
  flex: 0 0 auto;
  background-color: $header-bg;
  text-align: center;
  padding: 15px 0;
  box-shadow: 0px -4px 2px 0px rgba(0, 0, 0, 0.38);
}
.hide {
  display: none;
}
.start-page {
  body {
    background-color: #ff3ad3;
    font-family: 'Roboto', sans-serif;

  }

  hr {
    background-color: #c9c9c9;
  }

  .header__nav {
    flex-grow: 1;
  }

  .header__logo {
    background-image: url(../img/logo.png);
    width: 62px;
    height: 77px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .header__brand {
    font-family: 'PT Serif', serif;
    margin-left: 15px;
  }

  .header__brand-link {
    color: #ffffff;
    text-decoration: none;
  }

  .header__brand-title {
    font-size: 64px;
    font-weight: 700;
  }

  .header__brand-subtitle {
    font-size: 14px;
  }

  .header__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 24px;
    height: 100%;
  }

  .header__item {
    margin-left: 50px;
  }

  .header__item-link {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
    text-shadow: 3px 2px 4px #462020;

    &:hover {
      text-shadow: 0px 0 15px #ffffff;
      font-size: 30px;
    }
  }

  .content {
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;

  }

  .content__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .content__item_sm {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
  }

  .content__item_top-line {
    border-top: 2px solid rgba(255, 255, 255, 0.51);;
    padding-top: 20px;
  }

  .content__logo {
    width: 150px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 30px;
    background-position: center center;
  }

  .content__head-wrap {
    font-family: 'PT Serif', serif;
    color: #ffffff;
    flex: 4;
    margin-right: 15px;
  }

  .content__brand {
    font-size: 54px;
    margin-bottom: 20px;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.43);
  }

  .content__head {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.5;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  }

  .content__example {
    flex: 5;

    table {
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.58);
      border-collapse: collapse;
      width: 100%;
      color: #7f7f7f;
    }

    thead {
      color: #733b7a;
    }

    thead tr > th:first-child {
      border-radius: 10px 0px 0 0;
    }

    thead tr > th:last-child {
      border-radius: 0 10px 0 0;
    }

    tbody tr:last-child > td:last-child {
      border-radius: 0 0 10px 0px;
    }

    tbody tr:last-child > td:first-child {
      border-radius: 0 0 0px 10px;
    }

    td, th {
      font-size: 14px;
      padding: 10px 7px;
      border: 1px solid #e8e8e8;
    }

    th:last-child, td:last-child {
      border-right: none;
    }

    th:first-child, td:first-child {
      border-left: none;
    }

    th {
      border-top: none;
    }

    tr:last-child > td {
      border-bottom: none;
    }

    .tech {
      font-weight: 700;
    }

    .tech_green {
      color: #208e10;
    }

    .tech_blue {
      color: #0017d1;
    }

    .tech_violet {
      color: #9a47a1;
    }

    .link {
      color: #5588a8;
      font-weight: 700;
    }

    .date-col {
      width: 100px;
    }

    .date-cell {
      position: relative;

      &:after {
        font-family: FontAwesome;
        content: "\f040";
        color: #c37dc4;
        position: absolute;
        right: 4px;
        top: 6px;
        cursor: pointer;
      }
    }
  }

  .features {
    color: #ffffff;
    font-family: 'PT Serif', serif;
    flex-grow: 1;
    padding: 0 15px;
  }

  .features__head {
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.43);
  }

  .features__list {
    list-style: none;
  }

  .features__item {
    margin-bottom: 20px;
    font-size: 24px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  }

  .future {
    color: #ffffff;
    font-family: 'PT Serif', serif;
    flex-grow: 1;
    padding: 0 15px;
  }

  .future__head {
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.43);
  }

  .future__list {
    list-style: none;
  }

  .future__item {
    margin-bottom: 20px;
    font-size: 24px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  }

  .footer {
    flex: 0 0 auto;
    background-color: $header-bg;
    text-align: center;
    padding: 15px 0;
    box-shadow: 0px -4px 2px 0px rgba(0, 0, 0, 0.38);
  }

  .footer__contacts {
    font-size: 20px;
    color: #ffffff;
  }

  .footer__contacts-link {
    color: #ffffff;
    text-decoration: none;
  }

  .footer__contacts-copy {
    font-size: 16px;
  }

  .footer__contacts-date {
    font-size: 16px;
  }

  // about page
  body.about-page {
    background-color: #f0faff;

  }

}

.app {
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0faff;
  }

  .header__logo {
    margin-right: 5px;
  }

  .header__logo-img {
    width: 50px;
  }

  .header__brand {
    font-family: 'PT Serif', serif;
    text-align: center;
  }

  .header__brand-link {
    color: #ffffff;
    text-decoration: none;
  }

  .header__brand-title {
    font-size: 49px;
    font-weight: 700;
  }

  .header__brand-subtitle {
    font-size: 14px;
  }

  .header__user {
    text-align: right;
    font-size: 20px;
    position: relative;
  }

  .header__user-name {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
  }

  .header__user-name-angle {
    min-width: 20px;
    text-align: center;
    display: inline-block;
  }

  .header__user-avatar {
    max-width: 65px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }

  .header__user-sign-out {
    color: #ffffff;
    text-decoration: none;
  }

  .header__menu {
    flex-grow: 1;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding: 0 30px;
  }

  .header__menu-item {
    font-size: 20px;
  }

  .header__menu-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }

  .header__drop-menu {
    position: absolute;
    width: 150px;
    right: 0;
    top: 60px;
  }

  .header__drop-menu-list {
    background-color: #ffffff;
    border: 2px solid #979797;
    border-radius: 10px;
    list-style: none;
    padding: 10px 10px;
    text-align: left;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 15px 10px;
      border-color: transparent transparent #979797 transparent;
      top: -15px;
      right: 12px;
    }
  }

  .header__drop-menu-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;

    &:last-child {
      border: none;
      margin-bottom: 0;

      a {
        margin-bottom: 0;
      }
    }
  }

  .header__drop-menu-link {
    color: #4c4c4c;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 15px;
    display: inline-block;
  }

  .container_user-form {
    max-width: 480px;
    flex-grow: 1;
  }

  .user-form {
    flex-grow: 1;
    display: flex;
    padding: 40px 0;
  }

  .user-form__head {
    text-align: center;
    color: $head-color;
    font-size: 28px;
    margin-bottom: 26px;
  }

  .user-form__form {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
  }

  .user-form__group {
    margin-bottom: 25px;
    position: relative;
  }

  .user-form__input-wrap {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
  }

  .user-form__icon {
    border: 0.5px solid #cecece;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
    color: #8a2be2;
    display: flex;
    align-items: center;
  }

  .user-form__input {
    flex-grow: 1;
    border: 0.5px solid #cecece;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none !important;
    padding: 5px;
    color: $head-color;
    height: 31px;
    &:focus {
      background-color: #efeff4;
    }
  }
  .user-form__input_ta {
    min-height: 31px;
    max-height: 200px;
  }
  .user-form__btn {
    padding: 8px 10px;
    border-radius: 10px;
    background-color: #8a2be2;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    max-width: 150px;
    margin: auto;
    display: block;
    border: none;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0px 0 5px 2px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    outline: none !important;

    &:hover {
      background-color: #561990;
    }

    &:active {
      background-color: #3b1163;
      box-shadow: inset 0px 0 2px 2px rgba(0, 0, 0, 0.5);
      color: #b1b1b1;
    }
  }

  .user-form__msg {
    color: #ff0000;
    font-weight: 700;
    display: block;
    position: absolute;
    left: 5px;
    bottom: -18px;
    font-size: 14px;
  }

  // Accaunt

  .layout {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
    margin: 35px 0;
  }

  .account__header {
    color: $head-color;
    font-size: 26px;
    margin-bottom: 20px;
  }

  .account-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .account__user {
    width: 50%;
    padding-right: 5px;
  }

  .account__stat {
    width: 50%;
    padding-left: 5px;
  }

  .account__user-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    color: $head-color;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .account__user-item-l {
    width: 50%;
  }

  .account__user-item-r {
    width: 50%;
    font-weight: 700;
  }

  .account__user-item-link {
    text-decoration: none;
    color: #7095eb;
    font-weight: 700;
    font-size: 20px;

    &:hover {
      color: #5873b3;
    }
  }

  .account__user-item-msg {
    color: #1d7d50;
    padding-left: 15px;
  }

  .account__err-msg {
    color: #ff0000;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .account__stat-head {
    font-weight: 700;
    color: $head-color;
    margin-bottom: 20px;
  }

  .account__stat-subhead {
    font-style: italic;
  }

  .account__user-item_form {
    justify-content: center;
  }

  .account__user-form {
    width: 80%;
  }

  .user-form__btn-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 500px;
    margin: auto;
  }
  .tool-bar {
    margin-bottom: 20px;
    border-bottom: 1px solid $border-color;
    padding-bottom: 15px;
  }
  .tool-bar__list {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
  }
  .tool-bar__item {
    margin-right: 20px;
  }
  .tool-bar__link {
    color: #bd98d7;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 22px;
    position: relative;
    transition: 0.5s;
    &:before {
      content: '';
      display: block;
      height: 75%;
      width: 1px;
      background-color: $border-color;
      position: absolute;
      left: -10px;
      top: 15%;
    }
    &:hover {
      color: #7b7596;
    }
  }
  .tool-bar__link_new-task {
    padding-left: 0;
    font-weight: 700;
    color: #1d7d50;

    &:before {
      display: none;
    }
    &:hover {
      color: #155132;
    }
  }
  .main-wrap {
    display: flex;
    justify-content: space-around;
  }
  .sidebar {
    flex-grow: 1;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: $border-color;
      right: 0;
      top: 0;
    }
  }
  .sidebar__head {
    font-size: 26px;
    color: $head-color;
    margin-bottom: 20px;
  }


  .task-list {
    flex-grow: 10;
    margin-left: 15px;
  }
  .task-list__msg {
    font-style: italic;
    color: #979797;
  }
  .task-list__head {
    font-size: 26px;
    color: $head-color;
    margin-bottom: 20px;
  }

  // edit task

  .task-form {

  }
  .edit-task-wrap {
    display: flex;
  }
  .edit-task__main {
    flex-grow: 1;
    padding-right: 10px;
  }
  .edit-task__links {
    flex-grow: 1;
    padding-left: 10px;
  }
  .task-form__group {
    margin-bottom: 15px;
    position: relative;
  }
  .task-form__name-wrap {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .task-form__name {
    color: $head-color;
    font-weight: 700;
    font-size: 16px;

  }
  .task-form__msg {
    color: #ff0000;
    font-weight: 700;
    font-size: 14px;
    margin-left: 20px;
  }

  .date-picker-wrap {
    position: absolute;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-radius: 10px;
    left: 18%;
    top: -141px;
    border: 1px solid $border-color;
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 12.5px 15px 12.5px 0;
      border-color: transparent #cccccc transparent transparent;
      left: -15px;
      bottom: 25px;
    }
  }
  .edit-task__links-list {
    flex-grow: 1;
    border: 0.5px solid #cecece;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none !important;
    padding: 5px;
    color: #63617d;
    min-height: 31px;
    list-style: none;
  }
  .edit-task__links-empty {

  }
  .edit-task__links-item {

  }
  .edit-task__links-link {

  }




  .footer__contacts {
    font-size: 20px;
    color: #ffffff;
  }

  .footer__contacts-link {
    color: #ffffff;
    text-decoration: none;
  }

  .footer__contacts-copy {
    font-size: 16px;
  }

  .footer__contacts-date {
    font-size: 16px;
  }


}

